/*
DEBUT DU CSS DE LA PAGE D'ACCUEIL
*/
html, body{
  margin: 0px;
  padding: 0px;
  outline: 0px;
  height: 100%;
  background-image: url("Image/fond2.jpg");
}
.centrer_vert {
  margin: 0 20%;
  height: 100%;
  width: 60%;
  background-color: #f5f5f5;
}
#header{
  width: 100%;
  height: 300px;
}
#banniere{
  height: 100%;
  width: 100%;
}
/*
FIN DU CSS DE LA PAGE D'ACCUEIL
*/
/*
DEBUT DU CSS DU TABLEAU
*/
table{
  border: 3px solid #000;
  border-collapse: collapse;
  background-color: #badac2;
  font-size: 11px;
}
td{
  border: 2px solid #000;
  width: 60px;
  height: 60px;
}
td:hover{
  background-color: #cce3c7;
  box-shadow: 0px 0px 30px #000;
}
#titre_centre{
  vertical-align: middle;
  text-align: center;
}
#titre_centre:hover{
  box-shadow: 0px 0px;
  background-color: #badac2;
}
.text_centrer{
  vertical-align: middle;
  text-align: center;
}
.maison1{
  background-color: #993399;
  height: 20px;
}
.maison1:hover{
  background-color: #993399;
  box-shadow: 0px 0px;
}
.maison2{
  background-color: #aaccff;
  height: 20px;
}
.maison2:hover{
  background-color: #aaccff;
  box-shadow: 0px 0px;
}
.maison3{
  background-color: #ee44dd;
  width: 20px;
}
.maison3:hover{
  background-color: #ee44dd;
  box-shadow: 0px 0px;
}
.maison4{
  background-color: #ff6600;
  width: 20px;
}
.maison4:hover{
  background-color: #ff6600;
  box-shadow: 0px 0px;
}
.maison5{
  background-color: #ff0000;
  height: 20px;
}
.maison5:hover{
  background-color: #ff0000;
  box-shadow: 0px 0px;
}
.maison6{
  background-color: #ffff00;
  height: 20px;
}
.maison6:hover{
  background-color: #ffff00;
  box-shadow: 0px 0px;
}
.maison7{
  background-color: #008000;
  width: 20px;
}
.maison7:hover{
  background-color: #008000;
  box-shadow: 0px 0px;
}
.maison8{
  background-color: #3333ff;
  width: 20px;
}
.maison8:hover{
  background-color: #3333ff;
  box-shadow: 0px 0px;
}
.Lhaut{
  vertical-align: top;
  text-align: center;
}
.Lbas{
  vertical-align: bottom;
  text-align: center;
}
.Ldroite{
  margin: 0;
  float: right;
}
#case_prison{
  background-color: #f00;
  height: 20px;
}
#carteInfo{
  width: 90%;
  height: 90%;
}
#info_centre{
  margin-right: 30%;
  margin-left: 30%;
}
#btnFermerInfo{
  float: right;
}
.caseTrain{
  height: 50%;
}
.rien{
  margin: 0;
  padding: 0;
}
/*
FIN DU CSS DU TABLEAU
*/

/*
DEBUT DU CSS DES STATS DES JOUEURS
*/
#stat{
  *position: absolute;
}
/*
FIN DU CSS DES STATS DES JOUEUR
*/

/*
DEBUT DU CSS DU DE
*/
.dice{
  width: 32px;
  height: 20px;
  float: left;

  background: #F5F5F5;
  border: #999999 1px solid;

  text-align: center;
  margin: 5px;
  padding: 10px;
}
/*
FIN DU CSS DU DE
*/

/*
DEBUT DU CSS DES JOUEURS
*/
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.joueur1{
  z-index: 1;
  top: 0;
  left: 0;
}
.joueur2{
  z-index: 1;
  top: 0;
  right: 0;
}
.joueur3{
  z-index: 1;
  top: 35px;
  right: 0;
}
.joueur4{
  z-index: 1;
  top: 35px;
  left: 0;
}
.caseNormal{
  z-index: 0;
  margin: 0;
}
/*
FIN DU CSS DES JOUEURS
*/
/*
DEBUT DU CSS BOUTON
*/
button{
  border: solid black 3px;
  background-color: #eeffcc;
  font-weight: bold;
}
/*
FIN DU CSS BOUTON
*/
